<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="trace" 
            xsi:type="File"
            fileName="${basedir}/Logs/nlogTrace.txt"
            layout="${date}|${level}|${message}"
            deleteOldFileOnStartup="true"
            concurrentWrites="true"
            encoding="utf-8"/>
    <target name="error"
            xsi:type="File"
            fileName="${basedir}/Logs/nlogError.txt"
            layout="${date}|${level}|${message}"
            deleteOldFileOnStartup="true"
            concurrentWrites="true"
            encoding="utf-8"/>
    <target name="info"
            xsi:type="File"
            fileName="${basedir}/Logs/nlogInfo.txt"
            layout="${date}|${level}|${message}"
            deleteOldFileOnStartup="true"
            concurrentWrites="true"
            encoding="utf-8"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Info" writeTo="info" />
  </rules>
</nlog>
